<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>

<header id="Nav"> <span id="titleText">MyYoga</span>

<img src="../../Images/logo 1.png" width="110" height="90" alt="Logo">
<a href="/" class="navButton" >Home</a>
<a href="/classes" class="navButton">Classes</a>
<a href="/about" class="navButton">About Us</a>
<a href="/contact" class="navButton">Contact Us</a>

</header>
    <body style="background-image: url(../../Images/wallpaper.jpg);">
        {{{body}}}    
    </body>
</html>