


    <h1>Book in a class now!</h1>
    


    <div>
        <table>
        <tr>
            <th>Class</th>
            <th>Date</th>
            <th>Trainer</th>
        </tr>
        {{#each data}}
        <tr><td>{{this.type}}</td> <td> {{this.date}}</td><td> {{this.trainerName}}</td></tr>
        {{!-- <br> --}}
        {{/each}}
        </table>
    </div>
    <br>
    <div id="ClassForm">
    <form method="POST" action ="/classes/attend">
        Bookings 
        <div>
        <label for="Name">Full Name</label>
        <input type="text" name="Full Name">
        </div>
        <div>
        <label for="Class Name">Class Name</label>
        <input type="text">  
        </div>
        <div>
        <label for="Class Date">Class Date</label>
        <input type="date">  
        </div>
        <div>
        <button class="navButton" style="padding-top: 10;">Submit</button>
        </div>


    </form>

    </div>

