
   <h1 >Your one stop for everything yoga related</h1>
   
   <div class="banner"><img src="../Images/sunset1.jpg"  alt="sunset1"><img src="../Images/logo3.png"  alt="logo2"><img src="../Images/sunset2.jpg"  alt="sunset2"></div>
    
    

    <h2 class="homeHeadings">Instructors</h2>

    <h2>Insert instructors here</h2>


    <h2 class="homeHeadings">Location</h2>

    <div>We are located in the
        <img src="" alt="screenshot of location">
    </div>


